<div class="container max-w-screen-xl mx-auto py-10 px-4 flex flex-col items-center sm:flex-row">
{% form 'customer' %}
  {{ form.errors | default_errors }}

  <div class="tags">
    <input type="hidden" name="contact[tags]">
  </div>

  <div class="email">
    <label for="email">{{ 'blogs.article.email' | t }}</label>
    <input type="email" name="contact[email]" style="border:1px solid #000">
  </div>

  <div class="submit">
    <input type="submit" value="Sign in">
  </div>
{% endform %}
</div>

  